/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Chewy|Dosis:300,400,700|Indie+Flower");
$base-font: "Dosis", "sans-serif";
$header-font: "Chewy", cursive;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #01110D;

$red: #FF5E5B;
$dark-blue: #31588A;
$blue: #638CCC;
$light-blue: #90B2E4;
$yellow: #F9DC5C;
$orange: #E67E22;
$green: #32B796;
$gray: #2C3E50;
$light-grey: #E5ECF4;
