.profile-wrapper {
  padding: 10px 40px 0px 40px;
  background-color: #F9F9F9;
  display:flex;
  align-items: center;
}

.profile-portfolio {
  flex-grow: 1
}

.profile-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-picture {
  text-align: center;
  margin-right: 25px;
  flex: 0 0 30%;
}

#slideshow {
  margin: 50px auto;
  position: relative;
  width: 300px;
  height: 300px;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  vertical-align: center;
}

// preparation of the separation

.container-user {
  margin: none;
  overflow: hidden;
}

section {
  position: relative;
  padding: 10em 10%;
  background: #2980b9;
  color: #fff;
  text-align: center;
}

section::before,
section::after {
  position: absolute;
  content: '';
  pointer-events: none;
}

.ss-style-doublediagonal {
  z-index: 1;
  padding-top: 6em;
  background: #2072a7;
}

.ss-style-doublediagonal::before,
.ss-style-doublediagonal::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.ss-style-doublediagonal::before {
  height: 50%;
  background: white;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
}
