.profile-wrapper {
  padding: 50px;
  background-color: $gray;
  display:flex;
  align-items: center;
  color: white;
}

.profile-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-picture {
  text-align: center;
  margin-top: 10px;
}
.profile-content{
  font-size: 20px;
  font-color: $blue;
}
.fa-pencil-square-o {
  font-size: 20px;
  font-color: $blue;
}
#slideshow {
  margin: 0px auto;
  position: relative;
  width: 300px;
  height: 300px;
  padding: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  background-color: $light-grey;
}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  vertical-align: center;
}

.spacer {
  margin-bottom: 10px;
  margin-left: auto;
  width: auto;
  position: relative;

  .mask {
    overflow:hidden; height:20px;
    &:after {
      content:'';
      display:block; margin:-25px auto 0;
      width:100%; height:25px;
      border-radius:125px / 12px;
      box-shadow:0 0 8px black;
    }
  }

.spacer-logo {
    $size:50px;
    width:$size; height:$size;
    position:absolute;
    bottom:100%; margin-bottom:-$size/2;
    left:50%; margin-left:-$size/2;
    border-radius:100%;
    box-shadow:0 2px 4px #999;
    background:white;
  }
  .spacer-logo img {
    position:absolute;
    top:6px;
    left:8px;
  }
}

.transactions p{
    margin: 2px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.orange {
  color: orange;
}
