<div class="map_box">
  <h3><%= school.name %></h3>
  <p><%= school.complete_address %></p>
  <%= link_to "Discover the scool!", school_path(school), target: :blank, class: "btn btn-warning" %>
</div>
