
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(44, 62, 80, 0.6) 10%, rgba(76, 161, 175, 0.6) 50%), url('<%= cl_image_path("baltlkmfahbfqib1b7un") %>');">
  <div class="banner-content">
    <h1>Playground</h1>
    <p>Exchange toys and become the king of the school</p>
    <a href="#schools" class="btn btn-primary btn-lg">Find your school</a>
  </div>
</div>


<div id="schools">
  <% @schools.each do |school|  %>
    <ul>
      <li><%= school.name %> | <%= link_to "Explore", school_path(school.id)%></li>
    </ul>
  <% end %>
</div>
