<h1>Playground</h1>
<p>Exchange toys and become the king of the school</p>

<% @schools.each do |school|  %>
  <ul>
    <li><%= school.name %> | <%= link_to "Explore", school_path(school.id)%></li>
  </ul>
<% end %>
