// Your footer style
.footer{
    background-color: $gray;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer p {
  padding: 10px;
  vertical-align: middle;
  margin: 0px;
}
