.card {
  position: relative;
  z-index: 1;
  display: block;
  background: linear-gradient(-225deg, rgba(0,0,0,0.3), rgba(0,0,0,0.2));
  min-width: 180px;
  height: 400px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  background-size: cover !important;
  color: $blue;
  margin-bottom: 20px;
  transition: all 0.3s linear 0s;
}
.card:hover {
  box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
.thumbnail {
  height: 400px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;

}
.card-image {
  display: block;
  width: 120%;
  transition: all 0.3s linear 0s;
  z-index: -2;
}
.card-image:hover  {
  transform: scale(1.1);
  opacity: .6;
}
.card-user {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: $yellow;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-sizing: border-box;
}
.card-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.card-content .title {
  vertical-align: baseline;
}
.card-content .sub_title {
  vertical-align: baseline;
}
.card-category {
  position: absolute;
  top: -34px;
  left: 0;
  background: $yellow;
  padding: 10px 15px;
  color: $blue;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
.card-status {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $yellow;
  font-size: 30px;
}
