.tabs {
  background: #F9F9F9;
  display: block;
  flex: 0 0 10%;
  margin: 10px;
}
.tabs a {
  color: rgb(44, 62, 80);
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: bold;
  margin: 0;
}

.tab {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 4px;
}

.tab.active {
  background-color: $gray;
  color: white;
}
.tab-content {
  padding-top: 50px;
}
.tab-content p {
  font-size: 30px;
  font-weight: bold;
}


